    <div class="container filter" style="width: 80%;">

       {{ form_start(form) }}


        <div class="row">
          <div class="col-sm-6 datepicker">
            {{ form_row(form.fecha_desde) }}
          </div>
          <div class="col-sm-6 datepicker">
            {{ form_row(form.fecha_hasta) }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            
          </div>
          <div class="col-sm-6">
            {{ form_row(form.button) }}
          </div>
        </div>        

        {{ form_end(form) }}

    </div>