{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ path('welcome') }}">{{ 'Inicio' | trans }}</a></li>
  <li><a href="{{ path('encuestas') }}">{{ 'Encuestas IPAL' | trans }}</a></li>
  <li class="active">Encuesta&nbsp;{{-entity.key | trans-}}&nbsp;#{{ entity.id }} - Estado: &nbsp;{{-entity.statusCierre-}}</li>
</ol>
{% endblock %}

{% block body -%}

    <h3 class="hidden-xs">{{ 'PLANILLA DE INSPECCIÓN Y OBSERVACIÓN DE SEGURIDAD' | trans }} #{{ entity.id }}</h3>

   {% include "BcTicCamIpalBundle::edit_encuesta.html.twig" with { form: form, format: format, type: type } %}

    <p class="text-left">
    <a class="hidden-xs" href="{{ path('encuestas') }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-th-list"></span> {{ 'Volver' | trans }}
      </button>
    </a>
    </p>

{% endblock %}

{% block js %}

  {{ parent() }}
  <script type="text/javascript">

     if ($('form .has-error').length > 0) {
       $('#errors').addClass('alert')
       $('#errors').addClass('alert-danger');
       $('#errors').html('{{'El formulario contiene errores, favor corríjalo.' | trans }}');
     }

     $('form .survey .alert-warning select').unbind('change').change( function () {
       event.preventDefault();
     });

     var prev_val;

     $('form .survey .alert-warning select').focus(function (event) {
        prev_val = $(this).val();
     }).change( function () {
        if ($(this).val() == 1) {
          if (confirm("Se dispone a reportar una falta grave a la seguridad, ¿Deséa continuar?")) {

          } else {
            $(this).val(prev_val);
          }
        }

     });

    $('#bctic_camipalbundle_encuesta_empresa').bind('change', function (){
      //Actualizo el contrato
      $.ajax({
        dataType: "json",
        type: "POST",
        url: "{{ path('contratos_json') }}",
        data: { empresa_id: $(this).val() } ,
        success: function (dataSuccess) {
          $('select#bctic_camipalbundle_encuesta_contrato').empty().append('<option value="-1">{{ '-- SELECCIONE CONTRATO --' | trans }}</option>');
          $.each(dataSuccess, function() {
            //En base a esto cargo los contratos:
            $('select#bctic_camipalbundle_encuesta_contrato').append('<option value="' + this.id + '">' + this.nombre + '</option>');
          });
        },
        error: function (a,b,c) {
          alert("ERROR: " + b);
        }
      });
    });

    $('#bctic_camipalbundle_encuesta_contrato').bind('change', function (){
      //Actualizo los campos dependientes:
      if ($(this).val() != -1) {
        $.ajax({
          dataType: "json",
          type: "POST",
          url: "{{ path('contrato_json') }}",
          data: { id: $(this).val() } ,
          success: function (dataSuccess) {
            $('#bctic_camipalbundle_encuesta_area').val(dataSuccess.area);
            $('#bctic_camipalbundle_encuesta_servicio').val(dataSuccess.servicio);
            $('#bctic_camipalbundle_encuesta_gerencia').val(dataSuccess.gerencia);
            $('#bctic_camipalbundle_encuesta_subGerencia').val(dataSuccess.subgerencia);
            //$('#bctic_camipalbundle_encuesta_empresa').val(dataSuccess.empresa);
            $('#bctic_camipalbundle_encuesta_mandante').val(dataSuccess.mandante);
            $('#bctic_camipalbundle_encuesta_pais').val(dataSuccess.pais);
            $('#bctic_camipalbundle_encuesta_cttaSubcont').attr('disabled',true);
            if (dataSuccess.subcontrato == true) {
              $('#bctic_camipalbundle_encuesta_cttaSubcont').attr('disabled',false);
            }
          },
          error: function (a,b,c) {
            alert("ERROR: " + b);
          }
        });
      }
    });


    $(document).ready(function (){
     $('#bctic_camipalbundle_encuesta_contrato').change();

     //Autocomplete
     $("#bctic_camipalbundle_encuesta_inspector" ).autocomplete({
        delay: 500,
        minLength: 1,
        source: function(request, response) {

          $.ajax({
            dataType: "json",
            type: "POST",
            url: "{{ path('registros_inspectores_json') }}",
            data: { query: request.term } ,
            success: function (dataSuccess) {
                response( $.map( dataSuccess , function( item ) {
                  return {
                    label: item.nombre,
                    value: item.nombre
                  }
                }));
              },
            error: function (a,b,c) {
              alert("ERROR: " + b);
              }
          });

        },
        focus: function(event, ui) {

        },
        select: function(event, ui) {

        }

     });

    });


  </script>
{% endblock %}
