{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{ path('welcome') }}">{{ 'Inicio' | trans }}</a></li>
  <li class="active">{{ 'Encuestas IPAL' |trans }}</li>
</ol>
{% endblock %}

{% block body -%}

    <!-- FORM BEGIN -->
    {% include "BcTicCamIpalBundle:Encuesta:filter_encuesta.html.twig" with { form: filter } %}
    <!-- FORM END -->

    <div id="tab-content">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#resultado" data-toggle="tab">{{ 'Índice IPAL' | trans }} </a></li>
      <li><a href="#listado" data-toggle="tab">{{ 'Listado' | trans }}</a></li>
      <li><a href="#map" id="map-tab" data-toggle="tab">{{ 'Mapa' | trans }}</a></li>
    </ul>

    <div class="container" style="width: 100%;">
      <div class="tab-content">
      <div class="tab-pane active" id="resultado">
          <br/>
          <div id="resultados">
          <div class="alert alert-info">
            <p class="text-center">Seleccione los criterios en el formulario superior y presione "Buscar" para desplegar los resultados.</p>
          </div>
          </div>
        </div>
        <div class="tab-pane" id="listado">
          <br/>
          <div id="encuestas">
            <div class="alert alert-info">
              <p class="text-center">Seleccione los criterios en el formulario superior y presione "Buscar" para desplegar los resultados.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="map">
          <br/>
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>

    </div>

    <hr/>



<div class="btn-group">
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
    {{ 'Agregar' | trans }}&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">

    {% if app.user.pais.id == 1 %}
    <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Descargar informe IPAL Logística' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'chilectra'} ) }}">{{ 'Descargar informe IPAL Chilectra' | trans }}</a></li>
    {% endif %}

    {% if app.user.pais.id == 2 %}
    <li><a href="{{ path('encuestas_new', { 'type': 'colombia_general'} ) }}">{{ 'Descargar informe IPAL Colombia' | trans }}</a></li>
    {% endif %}

    {% if app.user.pais.id == 3 %}
    <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Descargar informe IPAL Logística' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>
    {% endif %}

    {% if app.user.pais.id == 4 %}
    <li><a href="{{ path('encuestas_new', { 'type': 'brazil_general'} ) }}">{{ 'Descargar informe IPAL' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'brazil_interno'} ) }}">{{ 'Descargar informe IPAL Interno' | trans }}</a></li>
    {% endif %}

    {% if app.user.pais.id == 5 %}
    <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Descargar informe IPAL Logística' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>
    {% endif %}

    {% if app.user.pais.id == 6 %}
    <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Descargar informe IPAL Logística' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>
    <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>
    {% endif %}

    </ul>
</div>

    {% endblock %}

    {% block javascript %}
      {{ parent() }}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7GU1J8Lp0N2rLVEA7hzbDFrxbC6f4S5Y&sensor=true">
        </script>
        <script type="text/javascript" src="/js/google_maps.js">
        </script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    {% endblock %}

    {% block js %}
      {{ parent() }}
      <script type="text/javascript">

        $(function($){
          $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
          };
        $.datepicker.setDefaults($.datepicker.regional['es']);
      });

      $("div.datepicker input").datepicker();

      var map;

      function createResultado(indice,cantidad) {

        var data = "<div class='alert alert-";

        if (indice >= 80) data = data + 'info';
        if (indice < 80) data = data + 'warning';

        return data + "'><h4 class='text-center'>IPAL: " + indice + ", {{ "Nº de inspecciones" | trans }}: " + cantidad + "</h4>" + "<p class='text-center'>* IPAL = {{ "Riesgo Detectado" | trans }} (RD) / {{ "Nº Inspecciones" | trans }}</p></div>";

      }

      function createReportes(indice,cantidad, collection) {

          var data = "<div class='alert alert-";

          if (indice >= 80) data = data + 'info';
          if (indice < 80) data = data + 'warning';

          data = data + "'>\
            <div class='text-center'><h4 class='text-center'>{{ 'Informes' | trans }} IPAL</h4>\
              <div class='btn-group btn-group-justified'>\
                <div class='btn-group btn-group-sm'>\
                  <button id='reporte_por_mes' type='button' class='btn btn-default'>{{ 'Por mes' | trans }}</button>\
                </div>\
                <div class='btn-group btn-group-sm'>\
                  <button id='reporte_todos_los_datos' type='button' class='btn btn-default'>{{ 'Todos los datos' | trans }}</button>\
                </div>\
                <div class='btn-group btn-group-sm'>\
                  <button id='reportes_no_conformidades' type='button' class='btn btn-default'>{{ 'No conformidades' | trans }}</button>\
                </div>\
                <div class='btn-group btn-group-center btn-group-sm'>\
                    <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>\
                      Por tipo de repuesta<span class='caret'></span>\
                    </button>\
                    <ul class='dropdown-menu'>\
                      {% if app.user.pais.id == 1 %}
                      <li><a href='#' id='reporte_agrupado_electrica'>{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_logistica'>{{ 'Descargar informe IPAL Logística' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_obras_civiles'>{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_telecomunicaciones'>{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_chilectra'>{{ 'Descargar informe IPAL Chilectra' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_llvv'>{{ 'Descargar informe IPAL LLVV' | trans }}</a></li>\
                      {% endif %}
                      {% if app.user.pais.id == 2 %}
                      <li><a href='#' id='reporte_agrupado_colombia_general'>{{ 'Descargar informe IPAL Colombia' | trans }}</a></li>\
                      {% endif %}
                      {% if app.user.pais.id == 3 %}
                      <li><a href='#' id='reporte_agrupado_electrica'>{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_logistica'>{{ 'Descargar informe IPAL Logística' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_obras_civiles'>{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_telecomunicaciones'>{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>\
                      {% endif %}
                      {% if app.user.pais.id == 4 %}
                      <li><a href='#' id='reporte_agrupado_brazil_general'>{{ 'Descargar informe IPAL' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_brazil_interno'>{{ 'Descargar informe IPAL Interno' | trans }}</a></li>\
                      {% endif %}
                      {% if app.user.pais.id == 5 %}
                      <li><a href='#' id='reporte_agrupado_electrica'>{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_logistica'>{{ 'Descargar informe IPAL Logística' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_obras_civiles'>{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_telecomunicaciones'>{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>\
                      {% endif %}
                      {% if app.user.pais.id == 6 %}
                      <li><a href='#' id='reporte_agrupado_electrica'>{{ 'Descargar informe IPAL Eléctrica' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_logistica'>{{ 'Descargar informe IPAL Logística' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_obras_civiles'>{{ 'Descargar informe IPAL Obras Civiles' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_telecomunicaciones'>{{ 'Descargar informe IPAL Telecomunicaciones' | trans }}</a></li>\
                      <li><a href='#' id='reporte_agrupado_llvv'>{{ 'Descargar informe IPAL LLVV' | trans }}</a></li>\
                      {% endif %}
                    </ul>\
                </div>\
                <div class='btn-group btn-group-sm'>\
                  <button id='reporte_total_no_50_20' type='button' class='btn btn-default'>{{ 'Total no 50-20' | trans }}</button>\
                </div>\
                <div class='btn-group btn-group-sm'>\
                  <button id='reporte_cierre' type='button' class='btn btn-default'>{{ 'Por status' | trans }}</button>\
                </div>\
                <div class='btn-group btn-group-sm'>\
                  <button id='reporte_total_50' type='button' class='btn btn-default'>{{ 'Total 50' | trans }}</button>\
                </div>\
              </div>\
            </div>\
            <br/>\
            <div class='text-center'><h4 class='text-center'>{{ 'Informes' | trans }} TASEG</h4>\
              <div class='btn-group btn-group-center btn-group-sm'>\
                  <button id='reporte_taseg' type='button' class='btn btn-default'>{{ 'Descargar' | trans }}</button>\
              </div>\
            </div>\
          </div>";

          return data;
        }

        function createDashboard(ids) {

          var data = '<br/><div id="dashboard"></div><br/>';

          return data;
        }

        function createListado(collection, page) {

          var data = '<table class="records_list table table-striped">\
          <thead>\
            <tr>\
                <th>Nº & Fecha</th>\
                <th>Ingreso</th>\
                <th class="hidden-xs">{{ 'Tipo' | trans }}</th>\
                <th class="hidden-xs">{{ 'Contrato' | trans }} & {{ 'Empresa' | trans }}</th>\
                <th class="hidden-xs">{{ 'Inspector/País' | trans }}</th>\
                <th class="hidden-xs">{{ 'Archivos Obs.' | trans }}</th>\
                <th class="hidden-xs">{{ 'Control de cierre' | trans }}</th>\
                <th class="visible-xs">{{ 'Encuesta' | trans }}</th>\
                <th>{{ 'Índice IPAL' | trans }}</th>\
                <th class="actions">{{ 'Opciones' | trans }}</th>\
            </tr>\
          </thead>\
          <tfoot>\
            <tr>\
              <td colspan="10" style="text-align: center;">\
                <ul class="pagination">\
                  <li><a id="previous" href="javascript:void(0);">{{ 'Anterior' | trans }}</a></li>\
                  <li class="active"><a href="#">' + page + '</a><li>\
                  <li><a id="next" href="javascript:void(0);">{{ 'Siguiente' | trans }}</a></li>\
                </ul>\
              </td>\
            </tr>\
          </tfoot>\
          <tbody>';

          //Iteración
          var items = "";

          $.each(collection, function() {

            var files = '';
            $.each(this.files, function(i, item) {
              files = files + '<a target="blank" href="http://cdn.siop.cam-la.bctic.net/'+ item + '">{{ 'Archivo' | trans }} #'  + ( i + 1 )+ '</a><br/>' ;
            });
            files = files + '';

            var filesCierre = '';
            $.each(this.filesCierre, function(i, item) {
              filesCierre = filesCierre + '<a target="blank" href="http://cdn.siop.cam-la.bctic.net/'+ item + '">{{ 'Archivo' | trans }} #'  + ( i + 1 )+ '</a><br/>' ;
            });

            filesCierre = filesCierre + '';

            items = items + '\
            <tr id="row_' + this.id + '">\
                <td>' + this.id +  ' - ' + this.fecha + '</td>\
                <td>' + this.createdAt + '</td>\
                <td class="hidden-xs">' + this.tipo + '</td>\
                <td class="hidden-xs">' + this.contrato + '<br/>' + this.empresa + '</td>\
                <td class="hidden-xs">' + this.inspector + '/' + this.pais + '</td>\
                <td class="hidden-xs">' + files  + '</td>\
                <td class="hidden-xs">' + this.cierre  + '<br/>' + filesCierre  + '<br/><small>' + this.cierre_log + '</small></td>\
                <td class="visible-xs">\
                  ' + this.empresa + '\
                  ' + this.contrato + '\
                  ' + this.pais + '\
                </td>\
                <td>' + this.indiceIPAL + '</td>\
                <td>\
                  <a target="blank" id="show_encuesta_' + this.id + '" href="/encuestas/' + this.id + '.html">\
                    <button type="button" class="btn btn-default btn-xs">\
                      <span class="glyphicon glyphicon-print"></span> {{ 'Ver' | trans }} \
                    </button>\
                  </a>' + ( (this.pais === 'CHILE-COASIN') ? '\
                  <a target="blank" id="show_encuesta_coasin_' + this.id + '" href="/encuestas/coasin/' + this.id + '.html">\
                    <button type="button" class="btn btn-default btn-xs">\
                      <span class="glyphicon glyphicon-print"></span> Coasin \
                    </button>\
                  </a>' : '' ) + '\
                  <a id="edit_encuesta_' + this.id + '" target="_blank" href="/encuestas/edit/' + this.id + '">\
                    <button type="button" class="btn btn-default btn-xs">\
                      <span class="glyphicon glyphicon-pencil"></span> {{ 'Editar' | trans }}\
                    </button>\
                  </a>\
                  {% if is_granted('ROLE_ADMIN') %}
                  <a href="javascript:delete_encuesta(' + this.id + ',\' ' +  this.token + ' \')" class="confirm">\
                    <button type="button" class="btn btn-default btn-xs">\
                      <span class="glyphicon glyphicon-trash"></span> {{ 'Borrar' | trans }}\
                    </button>\
                  </a>\
                  {% endif %}\
                </td>\
            </tr>';

          });

          data = data + items + '</tbody></table>';

          return data;

        }

        function delete_encuesta(id,token) {

          $.ajax({
             dataType: "json",
             type: "GET",
             url: "/encuestas/delete/" + id + "/" +  token + "",
             success: function (dataSuccess) {
                 if (dataSuccess.status == "1") {
                   $('tr#row_' + id ).fadeOut();
                 }
               },
            });

        }

        function updateDataEncuestas(pagina, items_por_pagina) {

          pagina = typeof pagina !== 'undefined' ? pagina : 1;
          items_por_pagina = typeof items_por_pagina !== 'undefined' ? items_por_pagina : 15;

          //Obtengo un listado de Encuestas en formato json con los datos del Form

           $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('encuestas_json') }}",
             data: { items_por_pagina: items_por_pagina, pagina: pagina, empresa_id : $('#bctic_camipalbundle_encuesta_empresa').val(), contrato_id : $('#bctic_camipalbundle_encuesta_contrato').val(), mandante_id : $('#bctic_camipalbundle_encuesta_mandante').val(), gerencia_id : $('#bctic_camipalbundle_encuesta_gerencia').val(), subgerencia_id : $('#bctic_camipalbundle_encuesta_subGerencia').val(), area_id : $('#bctic_camipalbundle_encuesta_area').val(), inspector : $('#bctic_camipalbundle_encuesta_inspector').val(), prevencionista : $('#bctic_camipalbundle_encuesta_prevencionista').val(), supervisor : $('#bctic_camipalbundle_encuesta_supervisorFacade').val(), servicio_id : "",pais_id : $('#bctic_camipalbundle_encuesta_pais').val(), fecha_desde : $('#bctic_camipalbundle_encuesta_fecha_desde').val(), fecha_hasta : $('#bctic_camipalbundle_encuesta_fecha_hasta').val(), tipo : "", status_cierre: $('#bctic_camipalbundle_encuesta_status_cierre').val(), grupo_id : $('#bctic_camipalbundle_encuesta_grupos').val(), 'id' :  $('#bctic_camipalbundle_encuesta_id').val(), 'unidad_de_negocio_id': $('#bctic_camipalbundle_encuesta_unidadDeNegocio').val() } ,
             beforeSend: function () {
               $('#resultados').html("<div class='spinner'></div>");
               $('#encuestas').html("<div class='spinner'></div>");
             },
             success: function (dataSuccess) {
               //Ahora que tengo los objetos debo parsear
               //Primero la lista:
               if (dataSuccess.hits < 1) {
                 $('#resultados').html('<div class="alert alert-info">{{ 'No hay encuestas IPAL que mostrar.' | trans }}</div>');
                 $('#encuestas').html('<div class="alert alert-info">{{ 'No hay encuestas IPAL que mostrar.' | trans }}</div>');
               } else {
                 $('#resultados').html(createResultado(dataSuccess.indiceIPAL,dataSuccess.hits));
                 $('#resultados').append(createDashboard(dataSuccess.ids));

                 $("#dashboard").html(" CARGANDO ... ");

                 //Jquery de HIGHLIGHTS CHARTS:

                 //PANEL 1 3:
                 $.ajax({
                   url: "{{ path('encuesta_data_dashboard') }}",
                   data: { ids: dataSuccess.ids } ,
                   type: "POST",
                   dataType: "json",
                   success: function(data){
                     var options = {
                      chart: {
                        renderTo: 'dashboard',
                        height: 400,
                        type: 'xy'
                      },
                      tooltip: {
                        shared: true,
                      },
                      title: {
                        text: ''
                      },
                      xAxis: {
                        title: {
                        text: ''
                      },
                      categories: []
                      },
                      yAxis: [{
                          title: {
                            text: 'Número de encuestas'
                          },
                          labels: {
                            format: ''
                          },
                          min: 0
                        },{
                          title: {
                            text: 'Índice IPAL'
                          },
                          opposite: true,
                          min:0
                      }],
                      series: [],
                      credits: { enabled: false }
                    };

                    options.xAxis.categories = data.categories;
                    options.xAxis.title.text = data.xAxisTitle;

                    $.each(data.series, function(i,serie) {
                      var data_serie = {
                      name: serie.name,
                      color: serie.color,
                      data: serie.data,
                      type: serie.type,
                      yAxis: serie.yAxis,
                      tooltip: {
                          valueSuffix: serie.valueSuffix
                        }
                      }
                      options.series.push(data_serie);
                    });

                    var chart = new Highcharts.Chart(options);

                   }
                 });

                 $('#resultados').append(createReportes(dataSuccess.indiceIPAL,dataSuccess.hits,dataSuccess.entities));

                 $('#reporte_por_mes').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_por_mes_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_todos_los_datos').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_todos_los_datos_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reportes_no_conformidades').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_no_conformidades_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_total_prevencionistas').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_total_prevencionistas_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_total_no_50_20').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_total_no_50_20_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file_total + '/download.html');
                        window.open('reportes/' + data.file_no_5020 + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file_total + ".csv y " + data.file_no_5020 + ".csv");
                     }
                   });
                 });

                 $('#reporte_cierre').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_cierre_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_total_50').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_incumplimientos_50_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_taseg').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('encuesta_reporte_taseg_csv') }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_brazil_interno').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'brazil_interno'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_brazil_general').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'brazil_general'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_colombia_general').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'colombia_general'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_llvv').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'llvv'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_chilectra').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'chilectra'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_telecomunicaciones').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'telecomunicaciones'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_obras_civiles').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'obras_civiles'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_logistica').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'logistica'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });

                 $('#reporte_agrupado_electrica').bind('click', function (e) {
                   $.ajax({
                     type: "POST",
                     dataType: "json",
                     url: "{{ path('reporte_agrupado', { 'type' : 'electrica'}) }}",
                     data: { ids: dataSuccess.ids },
                     success: function (data) {
                        //Descargar el archivo:
                        window.open('reportes/' + data.file + '/download.html');
                        alert("{{ 'Se ha descargado el archivo' | trans }} " + data.file + ".csv");
                     }
                   });
                 });


                 $('#encuestas').html(createListado(dataSuccess.entities, dataSuccess.pagina));

                 if (Number(dataSuccess.pagina) == 1) {
                   $("a#previous").parent().addClass("disabled");
                 } else {
                   $('#previous').bind('click', function (e) {
                     updateDataEncuestas(dataSuccess.pagina - 1);
                   });
                 }

                 if ( (Number(dataSuccess.ultima_pagina) == Number(dataSuccess.pagina)) || (Number(dataSuccess.entities.length) < 15) ) {
                   $("a#next").parent().addClass("disabled");
                 } else {
                   $('#next').bind('click', function (e) {
                     updateDataEncuestas(dataSuccess.pagina + 1);
                   });
                 }

                 $.each(dataSuccess.entities, function() {
                   $('#edit_encuesta_' + this.id ).hide();
                   {% if is_granted('ROLE_ADMIN') %}
                     $('#edit_encuesta_' + this.id ).show();
                   {% endif %}
                   if (this.createdBy == this.actualUser) {
                     $('#edit_encuesta_' + this.id ).show();
                   }

                 });
                 updateMarkers(map, dataSuccess.entities);

                 $('a.confirm').bind('click', function () {
                   return confirm("{{ '¿Está seguro quiere borrar?' | trans }}");
                 });

               }
             },
             error: function (a,b,c) {
               alert("{{ 'SE HA PRODUCIDO UN ERROR, CORRIJA EL BUSCADOR E INTÉNTELO NUEVAMENTE.' | trans }}");
             }
          });
        }

        function listarInspectores() {

          $('select#bctic_camipalbundle_encuesta_inspector').append('<option value="0">- NINGUN INSPECTOR -</option>');

          $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('registros_inspectores_json') }}",
             success: function (dataSuccess) {
                 $.each(dataSuccess, function(i, item) {
                   $('select#bctic_camipalbundle_encuesta_inspector').append('<option value="' + item.nombre + '">' + item.nombre + '</option>');
                 });
               },
            });

        }

        function listarPrevencionistas() {

          $('select#bctic_camipalbundle_encuesta_prevencionista').append('<option value="0">{{ '- NINGUN PREVENCIONISTA -' | trans }}</option>');
          $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('registros_prevencionistas_json') }}",
             success: function (dataSuccess) {
                 $.each(dataSuccess, function(i, item) {
                   $('select#bctic_camipalbundle_encuesta_prevencionista').append('<option value="' + item.nombre + '">' + item.nombre + '</option>');
                 });
               },
            });

        }

        function listarSupervisores() {

          $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('registros_supervisores_json') }}",
             success: function (dataSuccess) {
                 $.each(dataSuccess, function(i, item) {
                   $('select#bctic_camipalbundle_encuesta_supervisorFacade').append('<option value="' + item.nombre + '">' + item.nombre + '</option>');
                 });
               },
            });

        }

      $(document).ready( function () {

        map = initialize("map-canvas", false, "{{ 'Usted está aquí' | trans }}",13, 'bctic_camipalbundle_dummy');

        $('#map-canvas').hide();
        $("#map-tab").on('shown.bs.tab', function() {
          $('#map-canvas').show();
          google.maps.event.trigger(map, "resize");
        });

        //Elimino todos los objetos:
        $('select#bctic_camipalbundle_encuesta_pais').empty();
        $('select#bctic_camipalbundle_encuesta_pais').append('<option value="{{ app.user.pais.id }}">{{ app.user.pais.nombre }}</option>');

        //Elimino todos los objetos:
        //Solo muestro los contratos según el pais y rol - si aplica - esto lo hace el controlador:
        $.ajax({
          dataType: "json",
          type: "POST",
          url: "{{ path('contratos_index_json') }}",
          success: function (dataSuccess) {
            $('select#bctic_camipalbundle_encuesta_contrato').empty().append('<option value="">{{ '-- SELECCIONE CONTRATO --' | trans }}</option>');
            $.each(dataSuccess, function() {
              //En base a esto cargo los contratos:
              $('select#bctic_camipalbundle_encuesta_contrato').append('<option value="' + this.id + '">' + this.nombre + '</option>');
            });
          },
          error: function (a,b,c) {
            alert("ERROR: " + b + " - " + a + " - " + c );
          }
        });

        //Elimino todos los objetos:
        //Solo muestro las empresas según el pais y rol - si aplica - esto lo hace el controlador:
        $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('empresas_index_json') }}",
             success: function (dataSuccess) {
               $('select#bctic_camipalbundle_encuesta_empresa').empty().append('<option value="">{{ '-- SELECCIONE EMPRESA --' | trans }}</option>');
               $.each(dataSuccess, function() {
               //En base a esto cargo las empresas:
               $('select#bctic_camipalbundle_encuesta_empresa').append('<option value="' + this.id + '">' + this.nombre + '</option>');
             });
            },
            error: function (a,b,c) {
              alert("ERROR: " + b + " - " + a + " - " + c );
            }
           });

        //Elimino todos los objetos:
        //Solo muestro los mandantes según el pais y rol - si aplica - esto lo hace el controlador:
        $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('mandantes_index_json') }}",
             success: function (dataSuccess) {
               $('select#bctic_camipalbundle_encuesta_mandante').empty().append('<option value="">{{ '-- SELECCIONE MANDANTE --' | trans }}</option>');
               $.each(dataSuccess, function() {
               //En base a esto cargo los mandantes:
               $('select#bctic_camipalbundle_encuesta_mandante').append('<option value="' + this.id + '">' + this.nombre + '</option>');
             });
            },
            error: function (a,b,c) {
              alert("ERROR: " + b + " - " + a + " - " + c );
            }
        });

        //Elimino todos los objetos:
        //Solo muestro las areas según el pais y rol - si aplica - esto lo hace el controlador:
        $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('areas_index_json') }}",
             success: function (dataSuccess) {
               $('select#bctic_camipalbundle_encuesta_area').empty().append('<option value="">{{ '-- SELECCIONE ÁREA --' | trans }}</option>');
               $.each(dataSuccess, function() {
               //En base a esto cargo las áreas:
               $('select#bctic_camipalbundle_encuesta_area').append('<option value="' + this.id + '">' + this.nombre + '</option>');
             });
            },
            error: function (a,b,c) {
              alert("ERROR: " + b + " - " + a + " - " + c );
            }
        });

        //Elimino todos los objetos:
        //Solo muestro las gerencias según el pais y rol - si aplica - esto lo hace el controlador:
        $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('gerencias_index_json') }}",
             success: function (dataSuccess) {
               $('select#bctic_camipalbundle_encuesta_gerencia').empty().append('<option value="">{{ '-- SELECCIONE GERENCIA --' | trans }}</option>');
               $.each(dataSuccess, function() {
               //En base a esto cargo las áreas:
               $('select#bctic_camipalbundle_encuesta_gerencia').append('<option value="' + this.id + '">' + this.nombre + '</option>');
             });
            },
            error: function (a,b,c) {
              alert("ERROR: " + b + " - " + a + " - " + c );
            }
        });

        //Elimino todos los objetos:
        //Solo muestro las subgerencias según el pais y rol - si aplica - esto lo hace el controlador:
        $.ajax({
             dataType: "json",
             type: "POST",
             url: "{{ path('subgerencias_index_json') }}",
             success: function (dataSuccess) {
               $('select#bctic_camipalbundle_encuesta_subGerencia').empty().append('<option value="">{{ '-- SELECCIONE SUB GERENCIA --' | trans }}</option>');
               $.each(dataSuccess, function() {
               //En base a esto cargo las áreas:
               $('select#bctic_camipalbundle_encuesta_subGerencia').append('<option value="' + this.id + '">' + this.nombre + '</option>');
             });
            },
            error: function (a,b,c) {

            }
        });


        //Actualizo la lista de inspectores
        listarInspectores();
        //Actualizo la lista de prevencionista - OJO incluye a los Usuarios
        listarPrevencionistas();
        //Actualizo la lista de supervisores - OJO incluye a los Usuarios
        listarSupervisores();

        $('#bctic_camipalbundle_encuesta_button').bind('click', function () {
           updateDataEncuestas(1);
        });


      });

      </script>
    {% endblock %}
