<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th colspan="5" class="text-center">ÁREAS / ACTUACIONES</th>
          </tr>
          <tr>
            <td style="width: 41%;"><b>I-1 {{ 'Cinco Reglas de Oro' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
            <td style="width: 2%;"></td>
            <td style="width: 41%;"><b>I-5 {{ 'Materiales, Equipos y Herramientas' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta11 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta5.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta51 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta12 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta5.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta52 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta13 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta5.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta53 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.4_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta14 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.5_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta15 %} {{ name | trans }}</td>
            <td></td>
            <td><b>I-6 {{ 'Condiciones de trabajo' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta6.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta61 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td><b>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta6.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta62 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta2.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta21 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta6.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta63 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta2.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta22 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta6.4_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta64 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta2.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta23 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td><b>I-7 {{ 'Señalización y Protección Pública' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td><b>I-3 Procedimientos de Trabajos</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta7.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta71 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta3.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta31 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta7.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta72 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta32 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta33 %} {{ name | trans }}</td>
            <td></td>
            <td><b>I-8 Identificación de Riesgos / Charla de 5 minutos</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.4_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta34 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta8.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta81 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.5_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta35 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta8.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta82 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td><b>I-4 {{ 'Elementos de protección personal' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td><b>I-9 {{ 'Identificación y competencia del personal' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta41 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta9.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta91 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta42 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta9.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta92 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta43 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta9.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta93 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta4.4_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta44 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.5_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta45 %} {{ name | trans }}</td>
            <td></td>
            <td><b>I-10 {{ 'Vehículo (Pesado, Liviano y Motocicletas)' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta4.6_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta46 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta10.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta101 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.7_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta47 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta10.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta102 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.8_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta48 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta10.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta103 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.9_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta49 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.10_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-11 Primeros Auxilios y Emergencias</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta4.11_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning">{% set name = 'respuesta_' ~ entity.respuesta411 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta11.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta111 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.12_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta412 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td><b>I-12 Amonestación</b></td>
            <td><b>{{ '¿Amonestación?' | trans }}</b></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta12.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_' ~ entity.respuesta121 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td colspan="2">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
