<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th colspan="5" class="text-center">ÁREAS / ACTUACIONES</th>
          </tr>
          <tr>
            <td style="width: 41%;"><b>I-1 {{ 'Cinco Reglas de Oro' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
            <td style="width: 2%;"></td>
            <td><b>I-7 {{ 'Señalización y Protección Pública' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td>{% set name = 'respuesta7.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td>{% set name = 'respuesta7.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td colspan="2"></td>
          </tr>  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.4_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td><b>I-8 Identificación de Riesgos / Charla de 5 minutos</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td> 
          </tr> 
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta1.5_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td>{% set name = 'respuesta8.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta8.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>  
          <tr>
            <td><b>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta8.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta2.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta2.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td><b>I-9 {{ 'Identificación y competencia del personal' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta2.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td class="alert alert-warning">{% set name = 'respuesta9.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
          </tr>  
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td class="alert alert-warning">{% set name = 'respuesta9.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
          </tr>            
          <tr>
            <td><b>I-3 Procedimientos de Trabajos</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td class="alert alert-warning">{% set name = 'respuesta9.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
          </tr>  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta3.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.4_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.5_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.6_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr>                                                                                                  
          <tr>
            <td>{% set name = 'respuesta3.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.7_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.8_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta3.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.9_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr>            
          <tr>
            <td>{% set name = 'respuesta3.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td class="alert">{% set name = 'respuesta9.10_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert"></td>
          </tr>  
          <tr>
            <td>{% set name = 'respuesta3.8_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta9.11_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td><b>I-4 {{ 'Elementos de protección personal' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td><b>I-10 {{ 'Vehículo (Pesado, Liviano y Motocicletas)' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta4.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td>{% set name = 'respuesta10.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>                                                                                                  
          <tr>
            <td class="alert alert-warning">{% set name = 'respuesta4.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert alert-warning"></td>
            <td></td>
            <td>{% set name = 'respuesta10.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
            <td>{% set name = 'respuesta4.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>           
          <tr>
            <td>{% set name = 'respuesta4.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>           
          <tr>
            <td>{% set name = 'respuesta4.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-11 Primeros Auxilios y Emergencias</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>            
          </tr>           
          <tr>
            <td>{% set name = 'respuesta4.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta11.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>           
          <tr>
            <td>{% set name = 'respuesta4.8_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>           
          <tr>
            <td>{% set name = 'respuesta4.9_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-12 Toma de Conciencia</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>           
          <tr>
            <td>{% set name = 'respuesta4.10_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>   
          <tr>
            <td>{% set name = 'respuesta4.11_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>    
          <tr>
            <td>{% set name = 'respuesta4.12_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>      
          <tr>
            <td>{% set name = 'respuesta4.13_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>            
          </tr>                                              
          <tr>
            <td>{% set name = 'respuesta4.14_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td style="width: 41%;"><b>I-13 {{ 'Cultura ambiental' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>                                                        
          <tr>
            <td>{% set name = 'respuesta4.15_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta4.16_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td>{% set name = 'respuesta13.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>  
          <tr>
            <td style="width: 41%;"><b>I-5 {{ 'Materiales, Equipos y Herramientas' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta13.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta5.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta5.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta5.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta5.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta13.8_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-6 {{ 'Condiciones de trabajo' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta13.9_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta6.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.10_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr> 
          <tr>
            <td>{% set name = 'respuesta6.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>            
          </tr> 
          <tr>
            <td>{% set name = 'respuesta6.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>  