{% extends '::base_pdf.html.twig' %}
{% set logo = 'images/logo.jpg' %}

{% block body -%}
  <div class="row">
     <div class="col-md-3 text-center">
       <img alt="logo" style="height:65px; margin-top:7px;" src="{{ asset(logo) }}"/>
     </div>
     <div class="col-md-9">
       <h3 class="text-center">{{ 'INSPECCIÓN DE SEGURIDAD' | trans }}</h3>
       <h5 class="text-center">{{ 'PREVENCIÓN DE RIESGOS CAM' | trans }}&nbsp;-&nbsp;Encuesta&nbsp;{{ entity.key | trans }}</h5>
     </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered ">
        <tbody>
          <tr>
            <th colspan="3" class="text-center">{{ 'ANTECEDENTES GENERALES' | trans }}</th>
            <th style="width: 25%;">Nº {{ entity.id }}<br/>{% if revision is defined %}{{-revision-}}{% endif %}</th>
          </tr>
          <tr>
            <td colspan="2" style="width: 50%;">{{ 'Empresa' | trans }}: {{ entity.empresa.nombre }}</td>
            <td colspan="2" style="width: 50%;">{{ 'Área de Cam' | trans }}: {{ entity.contrato.area.nombre }}</td>
          </tr>
          <tr>
            <td style="width: 25%;">{{ 'Fecha' | trans }}: {{ entity.fecha | date("d/m/Y") }}</td>
            <td style="width: 25%;">{{ 'Hora' | trans }}: {{ entity.hora | date("h:i") }}</td>
            <td colspan="2">{{ 'Actividad' | trans }}:
              {% if entity.actividadDeEmpresa is defined %}
                {{ entity.actividadDeEmpresa | capitalize  }}
              {% else %}
                {{ entity.actividad | capitalize  }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="2">{{ 'Lugar de Trabajo' | trans }}: {{ entity.lugarDeTrabajo | capitalize }}</th>
            <td style="width: 25%;">{{ 'Nº de empleados' | trans }}: {{ entity.numDeEmpleados }}</th>
            <td style="width: 25%;">{{ 'Empleados' | trans }}: {% for empleado in entity.empleados %}{{-empleado-}}&nbsp;{% endfor %}</th>
          </tr>
          <tr>
            <td colspan="2" style="width: 50%;">{{ 'Nombre Inspector' | trans }}: {{ entity.inspector }}</td>
            <td colspan="2" style="width: 50%;">{{ 'Contrato' | trans }}: #{{ entity.contrato.numero }} {{ entity.contrato.nombre }}</td>
          </tr>
          <tr>
            <td colspan="2" style="width: 50%;">{{ 'Supervisor de Trabajo' | trans }}: {{ entity.supervisor }}</td>
            <td colspan="2" style="width: 50%;">{{ 'Subgerencia Cam' | trans }}: {{ entity.contrato.subGerencia.nombre }}</td>
          </tr>
          <tr>
            <td colspan="2" style="width: 50%;">{{ 'Gerencia Cam' | trans }}: {{ entity.contrato.subGerencia.gerencia.nombre }}</td>
            <td colspan="2" style="width: 50%;">{{ 'Mandante' | trans }}: {{ entity.contrato.mandante.name }}</td>
          </tr>
          <tr>
            <td colspan="2" style="width: 50%;">{{ 'Auto inspección' | trans }}: {{ entity.autoInspeccion }}</td>
            <td colspan="2" style="width: 50%;">{{ 'Charla operativa' | trans }}: {{ entity.charlaOperativa }}</td>
          </tr>
          <tr>
            <td colspan="2" style="width: 50%;"></td>
            <td colspan="2" style="width: 50%;">{{ 'Charla grabada' | trans }}: {{ entity.charlaGrabada }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  {% include "BcTicCamIpalBundle:Encuesta:show_" ~ entity.key  ~ ".html.twig" %}

   <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered ">
        <tbody>
          <tr>
            <th colspan="3">I-12 {{ 'Observaciones' | trans }}:</th>
          </tr>
          <tr>
            <td colspan="3">{{ entity.observaciones }}<br/></td>
          </tr>
          <tr>
            <td style="width: 33%">
              {% include "BcTicCamIpalBundle:Encuesta:show_image.html.twig" with { 'filePath' : entity.file1, 'fileNumber' :  1 } %}
            </td>
            <td style="width: 33%">
              {% include "BcTicCamIpalBundle:Encuesta:show_image.html.twig" with { 'filePath' : entity.file2, 'fileNumber' :  2 } %}
            </td>
            <td style="width: 34%">
              {% include "BcTicCamIpalBundle:Encuesta:show_image.html.twig" with { 'filePath' : entity.file3, 'fileNumber' :  2 } %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered ">
        <tbody>
          <tr>
            <th colspan="3">I-13 {{ 'Cierre' | trans }}:</th>
          </tr>
          <tr>
            <td colspan="3">{{ entity.cierre }}<br/></td>
          </tr>
          <tr>
            <td style="width: 33%">
               {% if entity.fileCierre1 | length > 5 %}
                <img src="{{ image(entity.fileCierre1).resize(320) }}" alt="{{ 'NO EXISTE ARCHIVO 1 DE CIERRE' | trans }}"/>
               {% else %}
                 <i>{{ 'NO EXISTE ARCHIVO 1' | trans }}</i>
               {% endif %}</td>
            <td style="width: 33%">
              {% if entity.fileCierre2 |length > 5 %}
                <img src="{{ image(entity.fileCierre2).resize(320) }}" alt="{{ 'NO EXISTE ARCHIVO 2 DE CIERRE' | trans }}"/>
               {% else %}
                 <i>{{ 'NO EXISTE ARCHIVO 2' | trans }}</i>
               {% endif %}
            </td>
            <td style="width: 34%">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block title %}
IPAL-{{ entity.id }}-{{ "now" | date("Ymd")}}
{% endblock %}


{% block js %}
  {{ parent() }}
    <script type="text/javascript">
      $(document).ready( function () {

      });
    </script>
{% endblock %}
