<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th colspan="5" class="text-center">ÁREAS / ACTUACIONES</th>
          </tr>
          <tr>
            <td style="width: 41%;"><b>I-1 {{ 'Cinco Reglas de Oro' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
            <td style="width: 2%;"></td>
            <td><b>I-9 {{ 'Identificación y Competencia del personal' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta1.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta9.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta1.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta9.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta1.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta9.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta1.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td coslpan="2">&nbsp;</td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta1.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-10 Vehículo (Pesado, Liviano y Motocicletas) y maquinaria</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta10.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta10.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta2.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta2.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta2.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta10.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-3 Procedimientos de Trabajos</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta10.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td >{% set name = 'respuesta3.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.8_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.9_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta10.10_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-11 Primeros Auxilios y Emergencias</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta11.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td>{% set name = 'respuesta11.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-4 {{ 'Elementos de protección personal' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta11.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-12 Reglas de oro línea energizada</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
            <td>{% set name = 'respuesta4.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta12.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.8_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-13 Obras civiles y excavaciones</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.9_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.10_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.11_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.12_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.13_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.14_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.15_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.16_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.8_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.17_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.9_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.18_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta13.9_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td>{% set name = 'respuesta13.10_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td style="width: 41%;"><b>I-5 {{ 'Materiales, Equipos y Herramientas' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta5.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td style="width: 41%;"><b>I-14 {{ 'Desplazamiento y conduccion de vehiculos (pesado, liviano y motos)' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta5.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta14.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta5.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta14.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta5.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta14.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td>{% set name = 'respuesta14.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-6 {{ 'Condiciones de trabajo' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta14.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta6.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta14.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta6.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta14.7_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta6.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta6.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td style="width: 41%;"><b>I-15 {{ 'Desplazamiento a pie' | trans }}</b></td>
            <td style="width: 8%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta6.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta15.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta6.6_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta15.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = '' ~ entity.respuesta152%} {{ name | trans }}</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td>{% set name = 'respuesta15.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-7 {{ 'Señalización y protección pública' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta15.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta7.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta15.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta7.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta7.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-16 {{ 'Espacios confinados (subestaciones de sotano, cámaras y otros)' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td>{% set name = 'respuesta16.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td><b>I-8 {{ 'Identificación de Riesgos / charla de 5 minutos' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td>{% set name = 'respuesta16.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta8.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta16.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta8.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta16.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta8.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td>{% set name = 'respuesta16.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta8.4_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta8.5_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
            <td></td>
            <td><b>I-17 {{ 'Encuesta copilotos' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta17.1_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta17.2_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td>{% set name = 'respuesta17.3_' ~ entity.key %} {{ name | trans }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
