<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th colspan="5" class="text-center">ÁREAS / ACTUACIONES</th>
          </tr>
          <tr>
            <td style="width: 31%;"><b>I-1 {{ 'Cinco Reglas de Oro' | trans }}</b></td>
            <td style="width: 18%;"><b>{{ 'Cumple' | trans }}</b></td>
            <td style="width: 2%;"></td>
            <td style="width: 31%;"><b>I-4 {{ 'Elementos de protección personal' | trans }}</b></td>
            <td style="width: 18%;"><b>{{ 'Cumple' | trans }}</b></td>
          </tr>  
          <tr>
            <td class="alert ">{% set name = 'respuesta1.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta11 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta4.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta41 %} {{ name | trans }}</td>
          </tr>  
          <tr>
            <td class="alert ">{% set name = 'respuesta1.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta42 %} {{ name | trans }}</td>
            <td></td>
            <td>{% set name = 'respuesta4.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta42 %} {{ name | trans }}</td>
          </tr>  
          <tr>
            <td class="alert ">{% set name = 'respuesta1.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta13 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>  
          <tr>
            <td colspan="2"></td>
            <td></td>
            <td><b>I-5 {{ 'Materiales, Equipos y Herramientas' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
          </tr>
          <tr>
            <td><b>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td class="alert ">{% set name = 'respuesta5.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta51 %} {{ name | trans }}</td>
          </tr>  
          <tr>
            <td class="alert ">{% set name = 'respuesta2.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta21 %} {{ name | trans }}</td>
            <td></td>
            <td class="alert ">{% set name = 'respuesta5.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta52 %} {{ name | trans }}</td>
          </tr>
          <tr>
            <td class="alert ">{% set name = 'respuesta2.2_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta22 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="alert ">{% set name = 'respuesta2.3_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta23 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>  
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td colspan="2"></td>
          </tr>  
          <tr>
            <td><b>I-3 Procedimientos de Trabajos</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td colspan="2"></td>
          </tr>  
          <tr>
            <td class="alert ">{% set name = 'respuesta3.1_' ~ entity.key %} {{ name | trans }}</td>
            <td class="alert ">{% set name = 'respuesta_chilectra_' ~ entity.respuesta31 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta32 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta3.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta33 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr> 
          <tr>
            <td colspan="2">&nbsp;</td>
            <td></td>
            <td colspan="2"></td>
          </tr>                                                                                                            
          <tr>
            <td><b>I-4 {{ 'Elementos de protección personal' | trans }}</b></td>
            <td><b>{{ 'Cumple' | trans }}</b></td>
            <td></td>
            <td colspan="2"></td>
          </tr>  
          <tr>
            <td>{% set name = 'respuesta4.1_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta41 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.2_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta42 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>{% set name = 'respuesta4.3_' ~ entity.key %} {{ name | trans }}</td>
            <td>{% set name = 'respuesta_chilectra_' ~ entity.respuesta43 %} {{ name | trans }}</td>
            <td></td>
            <td colspan="2"></td>
          </tr>                                                                                                  
        </tbody>
      </table>
    </div>
  </div>  