{% extends '::base.html.twig' %}

{% block body %}
<h4>{{ 'Bienvenido' | trans }} {{ app.user.nombre }}, {{ 'utiliza las opciones del menú superior para navegar en la aplicación o los botones siguientes' | trans }}:</h4>

<div class="container" style="width:300px; margin-top:33px;">
  <a href="{{ path('encuestas') }}"><button type="button" class="btn btn-primary btn-lg btn-block">{{ 'Reportes IPAL' | trans }}</button></a>
  <br/>


  <div class="btn-group btn-block">
  <button type="button" class="btn btn-warning btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
    {{ 'Agregar IPAL' | trans }}&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu btn-block" role="menu">

    {% for pais in app.user.pais %}
        {% if pais.id == 1 %}
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Agregar IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Agregar IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Agregar IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Agregar IPAL Telecomunicaciones' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'chilectra'} ) }}">{{ 'Agregar IPAL Chilectra' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'llvv'} ) }}">{{ 'Agregar IPAL LLVV' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'fam'} ) }}">{{ 'Agregar IPAL FAM' | trans }}</a></li>
        {% endif %}

        {% if pais.id == 2 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_new', { 'type': 'colombia_general'} ) }}">{{ 'Agregar IPAL Colombia' | trans }}</a></li>
        {% endif %}

        {% if pais.id == 3 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_new', { 'type': 'peru_electrica'} ) }}">{{ 'Agregar IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'peru_logistica'} ) }}">{{ 'Agregar IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'peru_obras_civiles'} ) }}">{{ 'Agregar IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'peru_telecomunicaciones'} ) }}">{{ 'Agregar IPAL Telecomunicaciones' | trans }}</a></li>
        {% endif %}

        {% if pais.id == 4 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_new', { 'type': 'brazil_general'} ) }}">{{ 'Agregar IPAL' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'brazil_interno'} ) }}">{{ 'Agregar IPAL Interno' | trans }}</a></li>
        {% endif %}

        {% if pais.id == 5 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Agregar IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Agregar IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Agregar IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Agregar IPAL Telecomunicaciones' | trans }}</a></li>
        {% endif %}

        {% if pais.id == 6 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_new', { 'type': 'electrica'} ) }}">{{ 'Agregar IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'logistica'} ) }}">{{ 'Agregar IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'obras_civiles'} ) }}">{{ 'Agregar IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'telecomunicaciones'} ) }}">{{ 'Agregar IPAL Telecomunicaciones' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'llvv'} ) }}">{{ 'Agregar IPAL LLVV' | trans }}</a></li>
        <li><a href="{{ path('encuestas_new', { 'type': 'fam'} ) }}">{{ 'Agregar IPAL FAM' | trans }}</a></li>
        {% endif %}

    {% endfor %}

  </ul>
  </div>
  <br/>
  <br/>
  <div class="btn-group btn-block">
  <button type="button" class="btn btn-success btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
    {{ 'Formularios PDF' | trans }}&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu btn-block" role="menu">
    {% for pais in app.user.pais %}
        {% if (pais.id == 1 or pais.id == 6 ) %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_show_form', { type: 'electrica' }) }}">{{ 'IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'logistica'}) }}">{{ 'IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'obras_civiles'}) }}">{{ 'IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'telecomunicaciones'}) }}">{{ 'IPAL Telecomunicaciones' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'chilectra'}) }}">{{ 'IPAL Chilectra' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'llvv'}) }}">{{ 'IPAL LLVV' | trans }}</a></li>
        <li><a href="{{ path('observaciones_show_form') }}">{{ 'Observaciones' | trans }}</a></li>
        {% endif %}
        {% if pais.id == 2 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_show_form', { type: 'colombia_general'}) }}">{{ 'IPAL Colombia' | trans }}</a></li>
        <li><a href="{{ path('observaciones_show_form')}}">{{ 'Observaciones' | trans }}</a></li>
        {% endif %}
        {% if pais.id == 3 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_show_form', { type: 'peru_electrica'}) }}">{{ 'IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'peru_logistica'}) }}">{{ 'IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'peru_obras_civiles'}) }}">{{ 'IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'peru_telecomunicaciones'}) }}">{{ 'IPAL Telecomunicaciones' | trans }}</a></li>
        <li><a href="{{ path('observaciones_show_form') }}">{{ 'Observaciones' | trans }}</a></li>
        {% endif %}
        {% if pais.id == 4 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_show_form', { type: 'brazil_general'}) }}">{{ 'IPAL' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'brazil_interno'}) }}">{{ 'IPAL Interno' | trans }}</a></li>
        <li><a href="{{ path('observaciones_show_form') }}">{{ 'Observaciones' | trans }}</a></li>
        {% endif %}
        {% if pais.id == 5 %}
        <li class="divider"></li>
        <li class="dropdown-header">{{ pais.nombre | trans  }}</li>
        <li><a href="{{ path('encuestas_show_form', { type: 'electrica'}) }}">{{ 'IPAL Eléctrica' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'logistica'}) }}">{{ 'IPAL Logística' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'obras_civiles'}) }}">{{ 'IPAL Obras Civiles' | trans }}</a></li>
        <li><a href="{{ path('encuestas_show_form', { type: 'telecomunicaciones'}) }}">{{ 'IPAL Telecomunicaciones' | trans }}</a></li>
        <li><a href="{{ path('observaciones_show_form') }}">{{ 'Observaciones' | trans }}</a></li>
        {% endif %}
      {% endfor %}
  </ul>
  </div>
  <br/>
  <br/>
  <a href="{{ path('observaciones') }}">
  <button type="button" class="btn btn-info btn-lg btn-block">{{ 'Observaciones' | trans }}</button></a>
  <br/>

</div>

{% endblock %}
