{% extends '::base_pdf.html.twig' %}

{% block body -%}
  <br/>
  <div class="row">
    <div class="col-md-12">
      <p class="text-right">
        Distribución checklist
      </p>
      <table class="table table-bordered">
        <tr>
          <th rowspan="2" style="width: 200px;">
            <img class="text-center" alt="logo" style="height:133px; margin-bottom:17px;" src="{{ asset('images/logo-enel.jpg') }}"/>
          </th>
          <th class="text-center">
            <h4>Observación de comportamientos para la seguridad<br/> Nº {{ entity.id }}</h4>
          </th>  
        </tr>
        <tr>
          <td>
            <br/>
            <table style="width: 100%;">
              <tr>
                <th style="width: 30%;" class="text-right">
                  <b>Observador&nbsp;</b>
                </th>
                <td>
                  <b>:&nbsp;{{ entity.createdBy | capitalize }}</b>
                </td>
              </tr>
              <tr>
                <th style="width: 30%;" class="text-right">
                  <b>Instalación (Site)&nbsp;</b>
                </th>
                <td>
                  <b>:&nbsp;{{ entity.instalacion | capitalize }}</b>
                </td>
              </tr>
              <tr>
                <th style="width: 30%;" class="text-right">
                  <b>Unidad organizativa&nbsp;</b>
                </th>
                <td>
                  <b>:&nbsp;{{ entity.unidadOrganizativa | capitalize }}</b>
                </td>
              </tr>
              <tr>
                <th style="width: 30%;" class="text-right">
                  <b>Parte de la instalación&nbsp;</b>
                </th>
                <td>
                  <b>:&nbsp;{{ entity.parteDeLainstalacion | capitalize }}</b>
                </td>
              </tr>              
            </table>    
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br/>
            <table style="width: 100%;">
              <tr>
                <th style="width: 20%;" class="text-right">
                  <b>Fecha&nbsp;</b>
                </th>
                <td style="width: 30%;">
                  <b>:&nbsp;{{ entity.fecha | date('d-m-Y') }}</b>
                </td>
                <th style="width: 20%;" class="text-right">
                  <b>Hora&nbsp;</b>
                </th>
                <td style="width: 30%;">
                  <b>:&nbsp;{{ entity.hora | date('h:i') }}</b>
                </td>                
              </tr>

              <tr>
                <th style="width: 20%;" class="text-right">
                  <b>Endesa/Contratista&nbsp;</b>
                </th>
                <td style="width: 30%;">
                  <b>:&nbsp;{{ entity.empresa.nombre }}</b>
                </td>
                <th style="width: 20%;" class="text-right">
                  <b>Nº de personas observadas&nbsp;</b>
                </th>
                <td style="width: 30%;">
                  <b>:&nbsp;{{ entity.numeroObservados }}</b>
                </td>                
              </tr>

              <tr>
                <th style="width: 20%;" class="text-right">
                  <b>Actividad&nbsp;</b>
                </th>
                <td colspan="3">
                  <b>:&nbsp;{{ entity.actividad | capitalize }}</b>
                </td>
              </tr>   

              <tr>
                <th style="width: 20%;" class="text-right">
                  <b>Condiciones atmosféricas&nbsp;</b>
                </th>
                <td colspan="3">
                  <b>:&nbsp;
                  {% for condicion in entity.condicionesClimaticas %}{{ condicion.nombre }}&nbsp;{% endfor %}
                  </b>
                </td>
              </tr>                           

            </table>  
            <br/>
          </td>
        </tr>
      </table>    
     </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th colspan="5" class="text-center">OBSERVACIONES</th>
          </tr>
          <tr>
            <td style="width: 50%;"><b>1 Áreas de trabajo</b></td>
            <td style="width: 10%;" class="text-center"><b>Seguro</b></td>
            <td style="width: 10%;" class="text-center"><b>Riesgo</b></td>
            <td style="width: 30%;" ><b>Notas</b></td>
          </tr>
          
          <tr>
            <td>{{ entity.registrosDeObservacion.get(0).observacion.nemo }} 
            {% set name = 'observaciones_1'  %} {{ name | trans }} </td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(0).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(0).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(0).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(0).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(1).observacion.nemo }} 
            {% set name = 'observaciones_2'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(1).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(1).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(1).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(1).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(2).observacion.nemo }} 
            {% set name = 'observaciones_3'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(2).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(2).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(2).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(2).notas }}</td>
          </tr>  

          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>

          <tr>
            <td style="width: 50%;"><b>2 Comportamiento durante el Trabajo</b></td>
            <td style="width: 10%;" class="text-center"><b>Seguro</b></td>
            <td style="width: 10%;" class="text-center"><b>Riesgo</b></td>
            <td style="width: 30%;"><b>Notas</b></td>
          </tr>
          
          <tr>
            <td>{{ entity.registrosDeObservacion.get(3).observacion.nemo }} 
            {% set name = 'observaciones_4'  %} {{ name | trans }} </td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(3).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(3).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(3).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(3).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(4).observacion.nemo }} 
            {% set name = 'observaciones_5'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(4).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(4).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(4).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(4).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(5).observacion.nemo }} 
            {% set name = 'observaciones_6'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(5).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(5).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(5).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(5).notas }}</td>
          </tr>   

          <tr>
            <td>{{ entity.registrosDeObservacion.get(6).observacion.nemo }} 
            {% set name = 'observaciones_7'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(6).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(6).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(6).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(6).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(7).observacion.nemo }} 
            {% set name = 'observaciones_8'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(7).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(7).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(7).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(7).notas }}</td>
          </tr>  

          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>          

          <tr>
            <td style="width: 50%;"><b>3 Procedimientos</b></td>
            <td style="width: 10%;" class="text-center"><b>Seguro</b></td>
            <td style="width: 10%;" class="text-center"><b>Riesgo</b></td>
            <td style="width: 30%;"><b>Notas</b></td>
          </tr>
          
          <tr>
            <td>{{ entity.registrosDeObservacion.get(8).observacion.nemo }} 
            {% set name = 'observaciones_9'  %} {{ name | trans }} </td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(8).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(8).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(8).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(8).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(9).observacion.nemo }} 
            {% set name = 'observaciones_10'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(9).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(9).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(9).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(9).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(10).observacion.nemo }} 
            {% set name = 'observaciones_11'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(10).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(10).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(10).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(10).notas }}</td>
          </tr>  

          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>

          <tr>
            <td style="width: 50%;"><b>4 Herramientas y Materiales</b></td>
            <td style="width: 10%;" class="text-center"><b>Seguro</b></td>
            <td style="width: 10%;" class="text-center"><b>Riesgo</b></td>
            <td style="width: 30%;"><b>Notas</b></td>
          </tr>
          
          <tr>
            <td>{{ entity.registrosDeObservacion.get(11).observacion.nemo }} 
            {% set name = 'observaciones_12'  %} {{ name | trans }} </td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(11).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(11).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(11).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(11).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(12).observacion.nemo }} 
            {% set name = 'observaciones_13'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(12).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(12).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(12).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(12).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(13).observacion.nemo }} 
            {% set name = 'observaciones_14'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(13).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(13).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(13).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(13).notas }}</td>
          </tr>  

          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>

          <tr>
            <td style="width: 50%;"><b>5 Equipos de protección individual</b></td>
            <td style="width: 10%;" class="text-center"><b>Seguro</b></td>
            <td style="width: 10%;" class="text-center"><b>Riesgo</b></td>
            <td style="width: 30%;"><b>Notas</b></td>
          </tr>
          
          <tr>
            <td>{{ entity.registrosDeObservacion.get(14).observacion.nemo }} 
            {% set name = 'observaciones_15'  %} {{ name | trans }} </td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(14).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(14).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(14).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(14).notas }}</td>
          </tr>  

          <tr>
            <td>{{ entity.registrosDeObservacion.get(15).observacion.nemo }} 
            {% set name = 'observaciones_16'  %} {{ name | trans }}</td>
            {% set name = 'observaciones_respuesta_' ~ entity.registrosDeObservacion.get(15).valor %}
            <td class="text-center">{% if entity.registrosDeObservacion.get(15).valor == 1 %}X{% endif %}</td>
            <td class="text-center">{% if entity.registrosDeObservacion.get(15).valor == 2 %}X{% endif %}</td>
            <td>{{ entity.registrosDeObservacion.get(15).notas }}</td>
          </tr>                                      
          
        </tbody>
      </table>
    </div>
  </div>  

   <br/>
   <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered ">
        <tbody>
          <tr>
            <th>COMENTARIOS</th>
          </tr> 
          <tr>
            <td>{{ entity.comentarios }}<br/></td>
          </tr>           
        </tbody>
      </table>
    </div>
  </div>
  
{% endblock %}

{% block title %}
OBSERVACION-{{ entity.id }}-{{ "now" | date("Ymd")}}
{% endblock %}



{% block js %}
  {{ parent() }}
    <script type="text/javascript">
      $(document).ready( function () { 
       window.print();
      });
    </script>
{% endblock %}      
