              <h4>I-1 {{ 'Cinco Reglas de Oro' | trans }}</h4>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta11, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta11) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta11) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta12, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta12) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta12) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta13, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta13) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta13) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta14, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta14) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta14) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta15, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta15) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta15) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta16, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta16) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta16) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta21, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta21) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta21) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta22, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta22) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta22) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta23, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta23) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta23) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta24, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta24) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta24) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta25, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta25) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta25) }}
                    </div>
                  </div>
                </div>
              </div>  
            <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta26, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta26) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta26) }}
                    </div>
                  </div>
                </div>
              </div>                                        

              <h4>I-3 Procedimientos de trabajo</h4>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta31, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta31) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta31) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta32, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta32) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta32) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta33, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta33) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta33) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta34, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta34) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta34) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta35, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta35) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta35) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta36, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta36) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta36) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta37, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta37) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta37) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta38, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta38) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta38) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta39, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta39) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta39) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta310, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta310) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta310) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta311, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta311) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta311) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta312, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta312) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta312) }}
                    </div>
                  </div>
                </div>
              </div>  
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta313, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta313) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta313) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta314, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta314) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta314) }}
                    </div>
                  </div>
                </div>
              </div>  

              <h4>I-4 {{ 'Elementos de protección personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta41, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta41) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta41) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta42, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta42) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta42) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta43, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta43) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta43) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta44, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta44) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta44) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta45, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta45) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta45) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta46, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta46) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta46) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-5 {{ 'Materiales, equipos y herramientas' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta51, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta51) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta51) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta52, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta52) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta52) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta53, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta53) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta53) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta54, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta54) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta54) }}
                    </div>
                  </div>
                </div>
              </div>              

              <h4>I-6 {{ 'Condiciones de trabajo' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta61, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta61) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta61) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta62, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta62) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta62) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta63, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta63) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta63) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta64, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta64) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta64) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta65, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta65) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta65) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-7 {{ 'Señalización y Protección Pública' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta71, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta71) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta71) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta72, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta72) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta72) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta73, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta73) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta73) }}
                    </div>
                  </div>
                </div>
              </div>
             <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta74, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta74) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta74) }}
                    </div>
                  </div>
                </div>
              </div>              

              <h4>I-8 {{ 'Primeros Auxilios & emergencias' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta81, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta81) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta81) }}
                    </div>
                  </div>
                </div>
              </div>
