              <h4>I-1 {{ 'Cinco Reglas de Oro' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta11, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta11) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta11) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta12, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta12) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta12) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta13, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta13) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta13) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta14, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta14) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta14) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta15, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta15) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta15) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-2 Autorización para ingreso a circuito</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta21, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta21) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta21) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta23, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta23) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta23) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-3 Procedimientos de trabajo</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta31, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta31) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta31) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta32, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta32) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta32) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta33, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta33) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta33) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta34, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta34) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta34) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta35, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta35) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta35) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-4 {{ 'Elementos de protección personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta41, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta41) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta41) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta42, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta42) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta42) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta43, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta43) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta43) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta44, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta44) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta44) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta45, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta45) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta45) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta46, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta46) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta46) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta47, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta47) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta47) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta48, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta48) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta48) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta49, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta49) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta49) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta410, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta410) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta410) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta411, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta411) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta411) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-5 {{ 'Orden, equipos y herramientas' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta51, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta51) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta51) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta52, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta52) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta52) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-6 {{ 'Equipos dieléctricos' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta61, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta61) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta61) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta62, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta62) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta62) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta63, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta63) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta63) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta64, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta64) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta64) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta65, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta65) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta65) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-7 {{ 'Señalización y Protección Pública' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta71, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta71) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta71) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta72, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta72) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta72) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-8 {{ 'Identificación de Riesgos/ Charla de 5 minutos' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta81, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta81) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta81) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta82, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta82) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta82) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-9 {{ 'Identificación y competencia del personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta91, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta91) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta91) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta92, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta92) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta92) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta93, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta93) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta93) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-10 {{ 'Vehículo (Pesado, Liviano y Motocicletas)' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta101, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta101) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta101) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta102, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta102) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta102) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta103, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta103) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta103) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-11 {{ 'Primeros Auxilios & emergencias' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta111, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta111) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta111) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta112, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta112) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta112) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta113, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta113) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta113) }}
                    </div>
                  </div>
                </div>
              </div>
