              <h4>I-1 {{ 'Cinco Reglas de Oro' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta11, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta11) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta11) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta12, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta12) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta12) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta13, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta13) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta13) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta14, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta14) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta14) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta15, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta15) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta15) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta21, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta21) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta21) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta22, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta22) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta22) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta23, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta23) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta23) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-3 Procedimientos de trabajo</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta31, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta31) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta31) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta32, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta32) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta32) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta33, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta33) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta33) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta34, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta34) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta34) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta35, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta35) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta35) }}
                    </div>
                  </div>
                </div>
              </div>



              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta38, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta38) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta38) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-4 {{ 'Elementos de protección personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta41, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta41) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta41) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta42, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta42) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta42) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta43, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta43) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta43) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta44, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta44) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta44) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta45, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta45) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta45) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta46, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta46) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta46) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta47, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta47) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta47) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta48, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta48) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta48) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta49, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta49) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta49) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta410, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta410) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta410) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta411, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta411) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta411) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta412, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta412) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta412) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta413, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta413) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta413) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta414, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta414) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta414) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta415, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta415) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta415) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta416, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta416) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta416) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-5 {{ 'Materiales, equipos y herramientas' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta51, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta51) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta51) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta52, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta52) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta52) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta53, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta53) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta53) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta54, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta54) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta54) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-6 {{ 'Condiciones de trabajo' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta61, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta61) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta61) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta62, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta62) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta62) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta63, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta63) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta63) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-7 {{ 'Señalización y Protección Pública' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta71, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta71) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta71) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta72, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta72) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta72) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta73, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta73) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta73) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-8 {{ 'Identificación de Riesgos/ Charla de 5 minutos' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta81, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta81) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta81) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta82, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta82) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta82) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta83, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta83) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta83) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta84, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta84) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta84) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta85, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta85) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta85) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-9 {{ 'Identificación y competencia del personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta91, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta91) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta91) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta92, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta92) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta92) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta93, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta93) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta93) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-10 {{ 'Vehículo (Pesado, Liviano y Motocicletas) y maquinaria' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta101, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta101) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta101) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta102, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta102) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta102) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta103, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta103) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta103) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta104, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta104) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta104) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta105, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta105) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta105) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta106, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta106) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta106) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta107, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta107) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta107) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta108, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta108) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta108) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta109, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta109) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta109) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta1010, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta1010) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta1010) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-11 {{ 'Primeros Auxilios & emergencias' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta111, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta111) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta111) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta112, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta112) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta112) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta113, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta113) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta113) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-12 {{ 'Reglas de oro línea energizada' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta121, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta121) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta121) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta122, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta122) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta122) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta123, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta123) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta123) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta124, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta124) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta124) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-13 {{ 'Obras civiles y excavaciones' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta131, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta131) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta131) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta132, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta132) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta132) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta133, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta133) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta133) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta134, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta134) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta134) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta135, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta135) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta135) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta136, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta136) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta136) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta137, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta137) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta137) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta138, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta138) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta138) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta139, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta139) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta139) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta1310, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta1310) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta1310) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-14 {{ 'Desplazamiento y conduccion de vehiculos (pesado, liviano y motos)' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta141, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta141) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta141) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta142, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta142) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta142) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta143, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta143) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta143) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta144, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta144) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta144) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta145, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta145) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta145) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta146, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta146) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta146) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta147, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta147) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta147) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-15 {{ 'Desplazamiento a pie' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta151, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta151) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta151) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta152, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta152) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta152) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta153, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta153) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta153) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta154, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta154) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta154) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta155, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta155) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta155) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-16 {{ 'Espacios confinados (subestaciones de sotano, cámaras y otros)' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta161, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta161) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta161) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta162, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta162) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta162) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta163, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta163) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta163) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta164, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta164) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta164) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta165, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta165) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta165) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-17 {{ 'Espacios confinados (subestaciones de sotano, camaras y otros)' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta171, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta171) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta171) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta172, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta172) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta172) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta173, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta173) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta173) }}
                    </div>
                  </div>
                </div>
              </div>
