              <h4>I-1 {{ 'Cinco Reglas de Oro' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta11, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta11) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta11) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta12, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta12) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta12) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta13, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta13) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta13) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta14, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta14) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta14) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta15, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta15) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta15) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-2 {{ 'Autorización para ingreso a circuito' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta21, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta21) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta21) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta22, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta22) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta22) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta23, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta23) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta23) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta24, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta24) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta24) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta25, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta25) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta25) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-3 Procedimientos de trabajo</h4>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta31, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta31) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta31) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta32, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta32) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta32) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta33, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta33) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta33) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta34, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta34) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta34) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta35, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta35) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta35) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta36, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta36) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta36) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta37, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta37) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta37) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta38, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta38) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta38) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta39, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta39) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta39) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta310, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta310) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta310) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta311, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta311) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta311) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta312, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta312) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta312) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta313, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta313) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta313) }}
                    </div>
                  </div>
                </div>
              </div>


              <h4>I-4 {{ 'Elementos de protección personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta41, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta41) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta41) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta42, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta42) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta42) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta43, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta43) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta43) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta44, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta44) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta44) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert ">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta45, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta45) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta45) }}
                    </div>
                  </div>
                </div>
              </div>


              <h4>I-5 {{ 'Materiales, equipos y herramientas' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta51, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta51) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta51) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta52, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta52) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta52) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta53, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta53) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta53) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta54, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta54) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta54) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-6 {{ 'Condiciones de trabajo' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta61, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta61) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta61) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta62, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta62) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta62) }}
                    </div>
                  </div>
                </div>
              </div>


              <h4>I-7 {{ 'Señalización y Protección Pública' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta71, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta71) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta71) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta72, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta72) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta72) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta73, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta73) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta73) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-8 {{ 'Identificación de Riesgos/ Charla de 5 minutos' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta81, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta81) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta81) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta82, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta82) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta82) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta83, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta83) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta83) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-9 {{ 'Identificación y competencia del personal' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta91, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta91) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta91) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta92, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta92) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta92) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta93, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta93) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta93) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta94, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta94) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta94) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-10 {{ 'Vehículo (Pesado, Liviano y Motocicletas)' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta101, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta101) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta101) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-11 {{ 'Primeros Auxilios & emergencias' | trans }}</h4>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta111, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta111) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta111) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta112, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta112) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta112) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta113, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta113) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta113) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta114, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta114) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta114) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta115, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta115) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta115) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta116, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta116) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta116) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta117, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta117) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta117) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta118, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta118) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta118) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta119, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta119) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta119) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta1110, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta1110) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta1110) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-12 {{ 'Amonestación' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta121, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta121) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta121) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta122, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta122) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta122) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta123, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta123) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta123) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-13 {{ 'Cultura ambiental' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta131, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta131) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta131) }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta132, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta132) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta132) }}
                    </div>
                  </div>
                </div>
              </div>

              <h4>I-14 {{ 'Condiciones de trabajo en calderas' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta141, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta141) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta141) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta142, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta142) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta142) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta143, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta143) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta143) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta144, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta144) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta144) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta145, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta145) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta145) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta146, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta146) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta146) }}
                    </div>
                  </div>
                </div>
              </div>


              <h4>I-15 {{ 'Condiciones de trabajo en bombas de impulsion' | trans }}</h4>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta151, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta151) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta151) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta152, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta152) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta152) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row alert alert-warning">
                <div class="col-xs-12">
                  <div class="form-group">
                    {{ form_label(form.respuesta153, null, {'label_attr': {'class': 'col-xs-8 control-label text-left'}}) }}
                    {{ form_errors(form.respuesta153) }}
                    <div class="col-xs-4">
                      {{ form_widget(form.respuesta153) }}
                    </div>
                  </div>
                </div>
              </div>
